<%- include('../components/header.ejs') %> 
  <body>
    <div class="header">
      <div class="left"><h3>Gidohae.com</h3></div>
      <div class="right">
        <div class="number test-number">Materi ID : <%= dataSoal.idSoal %></div>
        <div class="number"> <%- user.name %>  </div>
      </div>
    </div>
    <!-- <div class="toolbar">
      <div class=""> </div>
      <div class="font-btn"><button>Aa +</button> <button>Aa -</button></div>
    </div> -->
    <div class="container">
      <div class="column1">
        <div class="col1">
          <span class="noSoal"><%= dataSoal.nomorSoal %> </span>
        </div>
        <div class="soal">
          <div class="soal-wrapper">
            <div class="soal-text"><%- dataSoal.soal %></div>
            <% if(dataSoal.path){ 
              dataSoal.path.forEach(e =>{ %>
                
                  <%  const getName = e.split('.')
              const getExt = getName.pop(); 
              const ext = getExt.toLowerCase()
              if(ext == 'png' || ext == 'jpg' ||ext == 'jpeg'){ %>
                <div class="file">
                  <h5>PICTURE</h5>
                  <img class="file-img" src="/assets/soal/<%= e%>" />
                  </div>
               <% }else if(ext == 'mp3' || ext == 'm4a' ||ext == 'ogg' || ext ==
              'wav'){ %>
                <div class="file">
                  <h5>AUDIO</h5>
                <button onclick="play(this)" class="play-btn">PLAY</button>
              <audio id="audio">
                <source
                  src="/assets/soal/<%= e %>"
                  type="audio/ogg"
                />
              </audio>
              <small style="font-size: 0.5em"
                >be carefull, only can played 2 Times</small
              >
            </div>
             <% }%>
              <% })
            } %> 
              <!-- prettier-ignore -->
             
          </div>
          <span class="jawaban-wrapper">
            <label for="1" class="jawaban">
              <input type="radio" name="jawaban" id="1" />
              <label for="1"
                ><% if(dataSoal.isOptionPicture){%>
                <img
                  class="optionpicture"
                  src="/assets/soal/<%= dataSoal.option1 %>"
                  alt="option"
                />
                <% }else{ %> <%= dataSoal.option1 %> <%}%>
              </label>
              <span class="checkmark"></span>
            </label>
            <label for="2" class="jawaban">
              <input type="radio" name="jawaban" id="2" />
              <label for="2"
                ><% if(dataSoal.isOptionPicture){%>
                <img
                  class="optionpicture"
                  src="/assets/soal/<%= dataSoal.option2 %>"
                  alt="option"
                />
                <% }else{ %> <%= dataSoal.option2 %> <%}%></label
              >
              <span class="checkmark"></span>
            </label>
            <label for="3" class="jawaban">
              <input type="radio" name="jawaban" id="3" />
              <label for="3"
                ><% if(dataSoal.isOptionPicture){%>
                <img
                  class="optionpicture"
                  src="/assets/soal/<%= dataSoal.option3 %>"
                  alt="option"
                />
                <% }else{ %> <%= dataSoal.option3 %> <%}%></label
              >
              <span class="checkmark"></span>
            </label>
            <label for="4" class="jawaban">
              <input type="radio" name="jawaban" id="4" />
              <label for="4"
                ><% if(dataSoal.isOptionPicture){%>
                <img
                  class="optionpicture"
                  src="/assets/soal/<%= dataSoal.option4 %>"
                  alt="option"
                />
                <% }else{ %> <%= dataSoal.option4 %> <%}%></label
              >
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
      </div>
      <div class="column2">
        <div class="font-btn">
          <button class="font-size-control" id="font-plus">Aa +</button>
          <button class="font-size-control" id="font-min">Aa -</button>
        </div>
        <button>SUBMIT ANSWER</button>
        <div class="nav-box">
          <div class="row">
            <div class="reading-box box">
              <div class="heading">Reading<p>(25 min)</p></div>
              <div class="remairing-time">time left <span>25:00</span></div>
            </div>
          </div>
          <div class="row">
            <div class="listening-box box">
              <div class="heading">Listening<p>(25 min)</p></div>
              <div class="remairing-time">time left <span>25:00</span></div>
            </div>
          </div>
        </div>

        <!-- SOAL DI ISI -->

        <div class="answered">
          <div id="tipe-test" class="tipe-test">ANSWERED</div>
          <div class="tabel-wrapper">
            <table class="reading">
            <tbody>
              <tr>
                <th>1.</th>
                <td></td>
              </tr>
              <tr>
                <th>2.</th>
                <td></td>
              </tr>
              <tr>
                <th>3.</th>
                <td></td>
              </tr>
              <tr>
                <th>4.</th>
                <td></td>
              </tr>
              <tr>
                <th>5.</th>
                <td></td>
              </tr>
              <tr>
                <th>6.</th>
                <td></td>
              </tr>
              <tr>
                <th>7.</th>
                <td></td>
              </tr>
              <tr>
                <th>8.</th>
                <td></td>
              </tr>
              <tr>
                <th>9.</th>
                <td></td>
              </tr>
              <tr>
                <th>10.</th>
                <td></td>
              </tr>
              <tr>
                <th>11.</th>
                <td></td>
              </tr>
              <tr>
                <th>12.</th>
                <td></td>
              </tr>
              <tr>
                <th>13.</th>
                <td></td>
              </tr>
              <tr>
                <th>14.</th>
                <td></td>
              </tr>
              <tr>
                <th>15.</th>
                <td></td>
              </tr>
              <tr>
                <th>16.</th>
                <td></td>
              </tr>
              <tr>
                <th>17.</th>
                <td></td>
              </tr>
              <tr>
                <th>18.</th>
                <td></td>
              </tr>
              <tr>
                <th>19.</th>
                <td></td>
              </tr>
              <tr>
                <th>20.</th>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table class="listening">
            <tbody>
              <tr>
                <th>21.</th>
                <td></td>
              </tr>
              <tr>
                <th>22.</th>
                <td></td>
              </tr>
              <tr>
                <th>23.</th>
                <td></td>
              </tr>
              <tr>
                <th>24.</th>
                <td></td>
              </tr>
              <tr>
                <th>25.</th>
                <td></td>
              </tr>
              <tr>
                <th>26.</th>
                <td></td>
              </tr>
              <tr>
                <th>27.</th>
                <td></td>
              </tr>
              <tr>
                <th>28.</th>
                <td></td>
              </tr>
              <tr>
                <th>29.</th>
                <td></td>
              </tr>
              <tr>
                <th>30.</th>
                <td></td>
              </tr>
              <tr>
                <th>33.</th>
                <td></td>
              </tr>
              <tr>
                <th>32.</th>
                <td></td>
              </tr>
              <tr>
                <th>33.</th>
                <td></td>
              </tr>
              <tr>
                <th>34.</th>
                <td></td>
              </tr>
              <tr>
                <th>35.</th>
                <td></td>
              </tr>
              <tr>
                <th>36.</th>
                <td></td>
              </tr>
              <tr>
                <th>37.</th>
                <td></td>
              </tr>
              <tr>
                <th>38.</th>
                <td></td>
              </tr>
              <tr>
                <th>39.</th>
                <td></td>
              </tr>
              <tr>
                <th>40.</th>
                <td></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="nav-control">
          <button id="btn-prev" class="nav-btn" data-button="prev">PREV</button>
          <button id="btn-next" class="nav-btn" data-button="next">NEXT</button>
        </div>
      </div>
    </div>

    <!-- DANGER - DONT CHANGE COPYRIGHT -->
    <h5 class="cr">
      © Copyright
      <a target="_blank" href="https://gidohae.com">GIDOHAE.COM</a>
      2022. All Right Reserved
    </h5>
    <!-- DANGER - DONT CHANGE COPYRIGHT -->

    <script src="/js/audio.js"></script>
    <script src="/js/declare.js"></script>
    <script src="/js/nav-test.js"></script>
    <script src="/js/savetoken.js"></script>
    <script src="/js/checktoken.js"></script>
  </body>
</html>
