<%- include('../components/header/index.ejs') %> <%-
include('../components/sidebar/index.ejs') %> <%-
include('../components/topbar/index.ejs') %>

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Data User</h1>
  </div>

  <!-- Content Row -->

  <!-- TABLES -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a class="btn btn-primary" href="/admin/user/tambah"
        ><i class="fas fa-plus-circle"></i> Tambah Baru</a
      >
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No.</th>
              <th>Nama</th>
              <th>Username</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% data.forEach((e,i) =>{ %>
            <tr>
              <td><%= i +1 %></td>
              <td><%= `${e.name}` %></td>

              <td><%= e.username %></td>
              <td><%= e.role %></td>
              <td>
                <a class="btn btn-warning btn-sm" href="user/ubah/<%= e._id %>"
                  ><i class="fas fa-edit"></i> Ubah</a
                >
                <a class="btn btn-danger btn-sm" href="user/delete/<%= e._id %>"
                  ><i class="fas fa-trash"></i> Hapus</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Content Row -->
</div>

<%- include('../components/footer/index.ejs') %>
