<%- include('../components/header/index.ejs') %> <%-
include('../components/sidebar/index.ejs') %> <%-
include('../components/topbar/index.ejs') %>

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Data User</h1>
  </div>

  <!-- Content Row -->

  <!-- TABLES -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a class="btn btn-primary" href="/user/tambah"
        ><i class="fas fa-plus-circle"></i> Tambah Baru</a
      >
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No.</th>
              <th>Nama</th>
              <th>Alamat</th>
              <th>Tanggal Lahir</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% data.forEach(e =>{ %>
            <tr>
              <td><%= e.id %></td>
              <td>
                <a href="/user/detail/id"
                  ><%= `${e.name.firstname.toUpperCase()}
                  ${e.name.lastname.toUpperCase()}` %>
                </a>
              </td>
              <td><%= e.address.city %></td>
              <td>2011/01/25</td>
              <td>
                <a class="btn btn-warning btn-sm" href="/soal/ubah/id"
                  ><i class="fas fa-edit"></i> Ubah</a
                >
                <a class="btn btn-danger btn-sm" href="/soal/hapus/id"
                  ><i class="fas fa-trash"></i> Hapus</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Content Row -->
</div>

<%- include('../components/footer/index.ejs') %>
