<%- include('../components/header/index.ejs') %> <%-
include('../components/sidebar/index.ejs') %> <%-
include('../components/topbar/index.ejs') %>

<div class="container-fluid">
  <!-- Page Heading -->

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Data Soal <%= materiSoal.materiSoal %>
    </h1>
  </div>

  <!-- Content Row -->

  <!-- TABLES -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No.</th>
              <th>Tipe Soal</th>
              <th>Right Option</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% dataSoal.forEach((e, i)=>{ %>
            <tr>
              <td><%= e.nomorSoal %></td>
              <td><%= e.tipeSoal %></td>
              <td><%= e.jawabanBenar %></td>
              <td>
                <a
                  class="btn btn-warning btn-sm"
                  href="/admin/soal/<%= e._id %>/detail"
                  >Details</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Content Row -->
</div>

<%- include('../components/footer/index.ejs') %>
